
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-lg">
<div class="container-lg">
  <div class="row">
    <div class="col bg-color bg-primary text-light p-3 d-flex justify-content-center">
      <h3>Team Ryan, Sean, Yuji, Michael</h3>
    </div>
  </div>
  <div class="row d-flex flex-column m-3">
    <h1>Game Statistics</h1>
    <div class="col border border-1">
      <h3>highest_total_score</h3>
      11
    </div>
    <div class="col border border-1">
      <h3>lowest_total_score</h3>
      0
    </div>
    <div class="col border border-1">
      <h3>percentage_home_wins</h3>
      0.44
    </div>
    <div class="col border border-1">
      <h3>percentage_visitor_wins</h3>
      0.36
    </div>
    <div class="col border border-1">
      <h3>percentage_ties</h3>
      0.2
    </div>
    <div class="col border border-1">
      <h3>count_of_games_by_season</h3>
      {"20122013"=>806, "20162017"=>1317, "20142015"=>1319, "20152016"=>1321, "20132014"=>1323, "20172018"=>1355}
    </div>
    <div class="col border border-1">
      <h3>average_goals_per_game</h3>
      4.22
    </div>
    <div class="col border border-1">
      <h3>average_goals_by_season</h3>
      {"20122013"=>4.12, "20162017"=>4.23, "20142015"=>4.14, "20152016"=>4.16, "20132014"=>4.19, "20172018"=>4.44}
    </div>
  </div>
  <div class="row d-flex flex-column m-3">
    <h1>League Statistics</h1>
    <div class="col border border-1">
      <h3>count_of_teams</h3>
      32
    </div>
    <div class="col border border-1">
      <h3>best_offense</h3>
      Reign FC
    </div>
    <div class="col border border-1">
      <h3>worst_offense</h3>
      Utah Royals FC
    </div>
    <div class="col border border-1">
      <h3>highest_scoring_visitor</h3>
      FC Dallas
    </div>
    <div class="col border border-1">
      <h3>highest_scoring_home_team</h3>
      Reign FC
    </div>
    <div class="col border border-1">
      <h3>lowest_scoring_visitor</h3>
      San Jose Earthquakes
    </div>
    <div class="col border border-1">
      <h3>lowest_scoring_home_team</h3>
      Utah Royals FC
    </div>
  </div>
  <div class="row d-flex flex-column m-3">
    <h1>Season Statistics</h1>
    <div class="col border border-1">
      <h3>winningest_coach</h3>
      Dan Lacroix
    </div>
    <div class="col border border-1">
      <h3>worst_coach</h3>
      Martin Raymond
    </div>
    <div class="col border border-1">
      <h3>most_accurate_team</h3>
      DC United
    </div>
    <div class="col border border-1">
      <h3>least_accurate_team</h3>
      New York City FC
    </div>
    <div class="col border border-1">
      <h3>most_tackles</h3>
      FC Cincinnati
    </div>
    <div class="col border border-1">
      <h3>fewest_tackles</h3>
      Atlanta United
    </div>
  </div>
  <div class="row d-flex flex-column m-3">
    <h1>Team Statistic</h1>
    <div class="col border border-1">
      <h3>team_info</h3>
      {"team_id"=>"1", "franchise_id"=>"23", "team_name"=>"Atlanta United", "abbreviation"=>"ATL", "link"=>"/api/v1/teams/1"}
    </div>
    <div class="col border border-1">
      <h3>best_season</h3>
      20152016
    </div>
    <div class="col border border-1">
      <h3>worst_season</h3>
      20162017
    </div>
    <div class="col border border-1">
      <h3>average_win_percentage</h3>
      0.36
    </div>
    <div class="col border border-1">
      <h3>most_goals_scored</h3>
      6
    </div>
    <div class="col border border-1">
      <h3>fewest_goals_scored</h3>
      0
    </div>
    <div class="col border border-1">
      <h3>favorite_opponent</h3>
      Chicago Red Stars
    </div>
    <div class="col border border-1">
      <h3>fewest_goals_scored</h3>
      0
    </div>
  </div>


</div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>

