<html>
  <head>
    <title>Futbol Statistics</title>
  </head>
  <body>
    <h1>Futbol</h1>
    <h2>Game Statistics</h2>
    <li>Highest total score: <%= stat_tracker.highest_total_score %></li>
    <li>Lowest total score: <%= stat_tracker.lowest_total_score %></li>
  </body>

</html>
