<head>
  <title>Futbol</title>
</head>

<body>
  <header>
    <h1> Futbol Statistics</h1>
  </header>

  <a href="./index.html">Home</a>
  <a href="./game.html">Game Stats</a>
  <a href="./season.html">Season Stats</a>
  <a href="./team.html">Team Stats</a>

  <h3>League Statistics</h3>
  <p>Count of Teams: <%=stat_tracker.count_of_teams%></p>
  <p>Best Offense: <%=stat_tracker.best_offense%></p>
  <p>Worst Offense: <%=stat_tracker.worst_offense%></p>
  <p>Highest Scoring Visitor: <%=stat_tracker.highest_scoring_visitor%></p>
  <p>Highest Scoring Home Team: <%=stat_tracker.highest_scoring_home_team%></p>
  <p>Lowest Scoring Visitor: <%=stat_tracker.lowest_scoring_visitor%></p>
  <p>Lowest Scoring Home Team: <%=stat_tracker.lowest_scoring_home_team%></p>
</body>
